<nav class="bg-dark navbar-dark">


    <section id="gallery">
      <div class="container-fluit">
        <div class="row h-100">
        <div class=" mb-4 d-flex w-100 h-100 flex-wrap " >
          <div class="card" *ngFor="let item of places"   style="cursor: pointer;width: 300px;">
                <div class="" (click)="SelectLocation(item)">
                    <img [src]="getBase64Image(item)" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                    </div>
                </div>
              <div class="d-flex flex-column ">
                  <h5>{{getTourismType(item.tourismType)}}</h5>
                  <!-- <input type="file" #fileInput style="display: none" (change)="onFileSelected($event,item.id)"> -->
                  <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
                    <button (click)="openFileInput(item)">Change image</button>

              </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    