<div class="container d-flex flex-column justify-content-center  align-items-center " style="height: 500px;" data-aos="fade-up">
    <label class="fs-3 " for="">How long do you have?</label>
    <select class="form-select mb-2 " aria-label="Default select example" (change)="selection()">
        <option selected>Select Tourism Type</option>
        <option  >a long weakend</option>
        <option  >a whole week</option>
        <option  >Two weeks or more</option>

        
      </select>

</div>
