<section id="hero" class="hero section">

  <img src="./../../../assets/img/pexels-tirachard-kumtanom-112571-450062.jpg" alt="" data-aos="fade-in">

  <div class="container">
    <h2 data-aos="fade-up" data-aos-delay="100" class="">Exploration Made Easy,<br>
      Adventures Await</h2>
    <p data-aos="fade-up" data-aos-delay="200">your ultimate guide to discovering the world's most breathtaking destinations</p>
    <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
      <a href="courses.html" class="btn-get-started">See Jobs</a>
    </div>
  </div>

</section><!-- /Hero Section -->

<!-- About Section -->

<!-- <section id="about" class="about section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
        <img src="./../../../../assets/img/pexels-quintingellar-2199293.jpg" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
        <h3>  Effortlessly manage your logistics and optimize your shipping processes</h3>
        <p class="fst-italic">
          your ultimate guide to discovering the world's most breathtaking destinations
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> <span>Intuitive Shipment Management: Effortlessly manage all your logistics needs from tracking to delivery.</span></li>
          <li><i class="bi bi-check-circle"></i> <span>Seamless Solutions: Our platform provides efficient and reliable shipping solutions tailored to your business.</span></li>
          <li><i class="bi bi-check-circle"></i> <span>Optimized Processes: Streamline your shipping operations and enhance your logistics with our innovative technology.</span></li>
        </ul>
        <button href="#" class="read-more btn-primary bg-primary "><span class="">Read More</span><i class="bi bi-arrow-right"></i></button>
      </div>

    </div>

  </div>

</section> -->
<!-- /About Section -->








    
