
<div class="container d-flex flex-column justify-content-center  align-items-center " style="height: 500px;" data-aos="fade-up">
    <label class="fs-3 " for="">who else is coming?</label>
    <select class="form-select mb-2 " aria-label="Default select example" (change)="selection()">
        <option selected>Select Tourism Type</option>
        <option>it's the whole family</option>
        <option  >i'm flying solo </option>
        <option  >Bringing all my friends together   </option>
        <option  >just the tow of us</option>
        
      </select>

</div>

